

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	border: none;
}

html, body{
	height: 100%;
}

body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#canvasContainer{
	flex-grow: 1;
	width: 100%;
}